.row {
  width: 992px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
}

/* BLOCCO LEZIONI */
#lezioni .row>.left,
#lezioni .row>.right {
  width: 50%;
  float: left;
}

#lezioni .row img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#lezioni {
  text-align: center;
}

/* BLOCCO STEPS */
#steps .row>.left,
#steps .row>.central,
#steps .row>.right {
  float: left;
  width: 33%;
}

#steps {
  text-align: center;
}

/* BLOCCO PERCHE */
#why {
  text-align: center;
}

#why .row>.first,
#why .row>.second,
#why .row>.third {
  width: 100%;
  margin-top: 80px;
}

#why .row img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

/* COMMON */
.row::after {
  content: '';
  display: table;
  clear: both;
}

.container.grey {
  background-color: #f9f9f9;
}

img {
  height: 200px;
}


/*zona media query Bonus per tablet responsive*/
@media screen and (min-width: 768px) and (max-width: 990px) {
  .row {
    width: 100%;
    margin-top: 50px;
  }

  #lezioni .row {
    background-color: rgb(182, 211, 229);
  }

  #steps .row {
    background-color: rgb(211, 241, 211);
  }
  
  #steps .row > .left,
  #steps .row > .central {
    width: 50%;
  }

  #steps .row > .right {
    width: 100%;
    padding-top: 50px;
  }

  #why .row {
    background-color: rgb(241, 241, 153);
  }

  #why .row img {
    padding: 30px;
    margin-top: 15px;
  } 

  img {
    height: 125px;
  }
}
/*zona media query smartphone*/
@media screen and (max-width: 767px) {
  .row {
    width: 100%;
    margin-top: 0;
    padding: 10px; 
  }

  #lezioni .row > .left,
  #lezioni .row > .right {
    width: 100%; 
  }

  #lezioni .row {
    background-color: #F2F2CD;
  }

  #steps .row > .left,
  #steps .row > .central,
  #steps .row > .right {
    width: 100%;
  }

  #why .row img {
    padding: 15px;
  }

  #why .row>.first,
  #why .row>.second,
  #why .row>.third {
    margin-top: 0;
  }

  #why .row {
    background-color: #F2F2CD;
  }

  img {
    height: 100px;
    margin-top: 25px;
  }

  hr {
    border-color: #808080;
  }
}
